/* Demo only */
body{
   font-family: 'Oxygen', sans-serif;
-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
.intro,
article{
   padding: 10px;
   line-height: 1.5;
   
}

.intro p{
   text-align: center;
}
article ul li{
   margin-left: 30px;
   padding: 10px 5px;

}
article p{
   color: #444;

}

.codehim-header {
  position: relative;
 height: 300px; 
 background: #eee;  
  
}


.codehim-header h1 {
  text-align: center;
   margin-top: 50px;
  color: #444;
  font-size: 20pt;
}

.codehim-header  .polygon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  box-sizing: border-box;
  margin-left: -10px;
}

@media only screen and (min-width: 720px){
    article{
      width: 720px;
      margin-left: auto;
      margin-right: auto;
      background: #f9f9f9; 
    }


}

.credit{
    margin-left: 35px;
    background: #f2f2f2;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;

}
.credit span:before{
   color: #e41b17;
   content: "♥";
}
.credit a{
   color: #333;
   text-decoration: none;
}
.credit a:hover{
   color: #16a075; 
}
.theme-tray {
	overflow: hidden;
	background: #fff;
}

.theme-tray span {
	width: 50px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
   position: relative;
   z-index: 110;
  border-radius: 50%;
}
.skins{
	text-align: center;
}
code{
    border:1px solid #ddd;
    padding: 3px;
    border-radius: 2px;
}